:host {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 10% 1fr 5%;
}

.quote {
  border-left: 8px solid #F7DF94;
  padding-left: 40px;
}

.quote-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 767.98px) {
  .quote-container {
    width: 95%;
  }
}

@media (max-width: 991.98px) {
  .quote-container {
    width: 90%;
  }
}

.author-container {
  cursor: pointer;
  padding: 50px 40px 50px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-container svg {
  display: none;
}

.author-container:hover {
  background-color: #333333;
}

.author-container:hover svg {
  display: block;
}

.author-container:hover .author-name {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #F2F2F2;
}

.author-container:hover .quote-genre {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
}

.author-name {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #4F4F4F;
}

.quote-genre {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
}
